apiformat.txt
packages
expensestracker/bin
expensestracker/migrations
expensestracker/obj
dac/bin
dac/obj
dac/migrations
dac/app.config
expensestracker/appsettings.json
expensestracker/wwwroot
.vs
bower_components