body {
    margin: 0 auto;
    width:1100px;
}

#login-form {
    width: 500px;
}

#page-container {
    margin-top: 200px;
}

.validation-summary-errors {
    background-color: cornflowerblue;
}